.git
.idea
.vscode
**/.git
**/.idea
**/.vscode
**/node_modules
**/dist
**/target
frontend/node_modules
frontend/dist
backend/target
backend/.m2wrapper
backend/backend-run*.log
*.log
*.tmp
*.swp
.DS_Store
